{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% if certifications.intro %}
  <div class="intro">
    {{ certifications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for certification in certifications.papers %}
  {% assign certification_link = certification.link | default: '' | strip %}
  {% assign normalized_certification_link = certification_link | replace_first: 'http://', 'https://' %}
  {% assign normalized_certification_link_prefix = normalized_certification_link | downcase | slice: 0, 8 %}
  <div class="item">
    {% if normalized_certification_link_prefix == 'https://' %}
      <li><a href="{{ normalized_certification_link | escape }}">{{ certification.title | escape }}</a></li>
    {% else %}
      <li>{{ certification.title | escape }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
